<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="../CSS/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/fontawesome/css/fontawesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script defer src="../static/js/apps.js"></script>


</head>
    <body>
        <div class="page">
        <div class="nav">
            <a href="/" class="nav-elem"><div class="elem"><h1>One-stop shop <img src="../static/img/gundam-logo.png" class="logo"/></h1></div></a>
            <a href="popular" class="nav-elem"><div class="elem"><h2>Most Popular</h2></div></a>
            <a href="cat" class="nav-elem"><div class="elem"><h2>Categories</h2></div></a>
            <a href="shop" class="nav-elem"><div class="elem"><h2>Shopping Cart <img src="../static/img/cart.png" class="cart"></h2></div></a>
            <form class="elem" method="POST">
                <label id="search" for="search">Search</label>
                <input id="item-search" type="text" name="search">
                <button class="search">Search</button>
            </form>
        </div>
        <div class="grid">
            {% for toy in collections.collection %} 
            
            <div class="element" onclick="location.href='./view/{{ toy.name }}';">
                <h3 class="name">{{ toy.name }}</h3>
                <img src="{{ toy.link }}" class="item" />
                <ul>
                    <li><b>Price: </b>{{ toy.price }}</li>
                    <li><b>Description: </b>{{ toy.description }}</li>
                </ul>
                <div class="buttons">
                    <a class="order" href="./order/{{ toy.name }}">
                        <div class="order-nav">Order Now</div>
                    </a>
                    <a class="order" href="./view/{{ toy.name }}">
                        <div class="order-nav">View Product</div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </body>
</html>